/* https://css-tricks.com/examples/ShapesOfCSS/ */

.canvas {
    height: 600px;
    width: 600px;
    background-color: antiquewhite;
	border: 2px black solid;
	display: inline-block;
	vertical-align: middle;
}

.shapes-info {
	height: 100px;
	width: 70px;
	border: 1px black dotted;
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
}

.shape { 
	cursor: pointer;
	position: absolute;
}

.rectcont {
    display: inline-block;
}

.rectangle {
	background-color: green;
	
}

.square {
	background-color: red;
}



.triangle {
	border-width: 0;
	border-color: transparent;
	border-bottom-color: yellow;
	border-style: solid;
};

.circle {
	background: purple;
	border-radius: 50%;
};
